<ion-header>
  <ion-navbar>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Advertisement</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item style="border-top:none;">
      <ion-label stacked>1st reg. *</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Model No. *</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  </ion-list>
  <div style="padding:0 10px;">
    <button ion-button block class="redbutton" (click)="search()">Search</button>
  </div>

  <div style="padding:20px">
    Search your vehicle by production duration and vehicle make and model.
  </div>

  <ion-list class="noMargin">
    <ion-item>
        <ion-label stacked>Select Year</ion-label>
      <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="{{minYear}}" [(ngModel)]="year"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label stacked>Select Month</ion-label>
      <ion-datetime  displayFormat="MMMM" pickerFormat="MMMM" [(ngModel)]="month"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label stacked>Search Make</ion-label>
      <ion-input type="text"  [ngModel]="make" (ngModelChange)="searchMake($event)"></ion-input>
    </ion-item>
    <ion-item *ngFor="let make of makes" (click)="makeSelected(make.text)">{{make.text}}</ion-item>
    <ion-item>
        <ion-label stacked>Search Model</ion-label>
        <ion-input type="text"  [ngModel]="model" (ngModelChange)="searchModel($event)"></ion-input>
    </ion-item>
    <ion-item *ngFor="let model of models" (click)="modelSelected(model.text)">{{model.text}}</ion-item>
  </ion-list>
  <div class="next-button  0">
    <button ion-button block class="redbutton" (click)="next()">Next</button>
  </div>

</ion-content>