<ion-header>
    <ion-navbar>
        <button ion-button menuToggle end>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Search Option</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-list class="noMargin">
        <ion-item>
            <ion-label stacked>Search Make</ion-label>
            <ion-input type="text" [ngModel]="make" (ngModelChange)="searchMake($event)"></ion-input>
        </ion-item>
        <ion-item *ngFor="let make of makes" (click)="makeSelected(make.text)">{{make.text}}</ion-item>
        <ion-item>
            <ion-label stacked>Search Model</ion-label>
            <ion-input type="text" [ngModel]="model" (ngModelChange)="searchModel($event)"></ion-input>
        </ion-item>
        <ion-item *ngFor="let model of models" (click)="modelSelected(model.text)">{{model.text}}</ion-item>
        <ion-item>
            <ion-label stacked>Select Region</ion-label>
            <ion-select [(ngModel)]="selectedRegion">
                <ion-option *ngFor="let item of regions" value="{{item.value}}" selected="{{item.checked}}">{{item.text}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked>Min Year</ion-label>
            <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="1980" max="{{maxYear}}" [(ngModel)]="minYear"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label stacked>Max Year</ion-label>
            <ion-datetime displayFormat="YYYY" pickerFormat="YYYY" min="1980" max="{{maxYear}}" [(ngModel)]="maxYear"></ion-datetime>
        </ion-item>
    </ion-list>

</ion-content>
<ion-footer>
    <ion-toolbar>
        <button ion-button full class="redbutton" (click)="search()">
            Search
        </button>
    </ion-toolbar>
</ion-footer>