page-sellvehicle{
    ion-row{
        background: red;
        color: white;
        line-height: 25px;
    }
    ion-select{
        float: right;
    }
    .recentSubmission{
        font-size: 18px;
        padding: 10px;
        color: red;
        line-height: 40px;
    }
}